SOFTWARE REQUIREMENTS:

1.Windows 7 and above
2.JDK 1.7
3.J2EE 
4.Tomcat 7.0
5.MySQL

HARDWARE REQUIREMENTS:

1.A mobile phone or a laptop with a stable internet connection 
2.Hard Disk	: 	80GB and Above
3.RAM	        :       4GB and Above
4.Processor	:	Pentium IV and Above ENVIRNOMENT

TECHNOLOGY STACK:

1.J2EE (JSP, Servlets) 
2.JavaScript
3.HTML 
4.CSS





